<p id="notice"><%= notice %></p>

<p>
  <h3>Name:</h3>
  <%= @post.name %>
</p>

<p><%= @post.content %></p>

<%= 'Tags:' if @post.tags.present? %>
<% @post.tags.each do |t| %>

<% end %>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
